.container{
	max-width: 960px;
	margin:0 1em;
	margin:0 auto;
}
md-sidenav-layout{
	height: 100vh;
}
md-sidenav{
	width:200px;
	max-width: 80%;
}
nav a{
	color:white !important;
	margin-right: 1em;
	font-size: 0.8em;
}
md-sidenav a{
	display: block;
	text-align: left;
	padding: 0.5em 1em;
	color:#222 !important;
	font-weight: bold;
	margin:0.5em 0;
	text-transform: uppercase;
}

md-sidenav a:nth-child(1){
	margin-top: 2em;
}
.row{
	width: 100%;
}
.pointer{
	cursor: pointer;
}
.no-padding{
	padding:0px;
}
[app-fab]{
	position: fixed;
	bottom:100px;
	right: 20px;
	box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
  transform: translate3d(0, 0, 0);
  transition: background 400ms cubic-bezier(0.25, 0.8, 0.25, 1), box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
  min-width: 0;
  border-radius: 50%;
  width: 56px;
  height: 56px;
  padding: 0;
  box-sizing: border-box;
  cursor: pointer;
  user-select: none;
  outline: none;
  border: none;
  display: inline-block;
  white-space: nowrap;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 14px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-weight: 500;
  background-color: #ff4081;
  color:white;
}
[app-fab]:hover{

}
[app-fab]:active{
	opacity: 0.8;
	box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12)
}