<div class='logro' *ngFor="let logro of logros;let i = index"[style.background]="colors[(i+1) % colors.length ]">
	<h3>{{logro.title}}</h3>
	<p>{{logro.description}}</p>
	<div class="bottom">
		<p class="author">{{logro.author}}</p>	
	</div>
	
</div>
<div class="top-space bottom-space text-center">
	<button (click)="oldest()" md-raised-button color="accent" >Cargar más</button>
</div>
