<md-card>
	<form (submit)="submit()">
		<!-- 
			<md-input-container>
				<input name="title" md-input [(ngModel)]="logro.title" 
				required="true">
			</md-input-container>
		-->
		<!-- Prioridad del equipo -->
		<!-- Nota deprecated -->
		<md-input  name="title" [(ngModel)]="logro.title" 
		required="true" placeholder="Título"></md-input>
		

		<md-input  name="author" [(ngModel)]="logro.author" 
		required="true" placeholder="Autor"></md-input>

		<md-input  name="description" [(ngModel)]="logro.description" placeholder="Descripción"></md-input>

		<button md-raised-button color="accent" >
		  Agregar
		</button>
		
	</form>
</md-card>